html
{
}

body
{
	font-family: "Lato", Helvetica, Arial, sans-serif;
	font-size: 14pt;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

a
{
	text-decoration: none;
	color: #007799; /*rgb(82, 173, 200);*/
}

#triangle
{
	position: absolute;
	top: 345px;
	left: 345px;
	width: 36px;
	overflow: hidden;
}

#sidebar
{
	position: absolute;
	left: 0;
	top: 0;
	right: 0px;
	width: 500px;
	bottom: 0px;
	background: #1c732d;
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-width: none;
}

#profilePic
{
	margin: 10px;
	width: 500px;
}

#sidebarHeading
{
	text-align: center;
	margin: 5px;
	font-size: 28pt;
}

#sidebarSubheading, #email
{
	text-align: center;
	margin: 0px;
	font-size: 18pt;
	color: #222222
}

/* The sidebar menu */
.sidenav {
	height: 100%; /* Full-height: remove this if you want "auto" height */
	width: 300px; /* Set the width of the sidebar */
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	background-color: #111; /* Black */
	overflow-x: hidden; /* Disable horizontal scroll */
	line-height: 2;
	padding-top: 50px;
  }
  
  /* The navigation menu links */
  .sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
	color: #f1f1f1;
  }
  
  /* Style page content */
  .main {
	margin-left: 160px; /* Same as the width of the sidebar */
	padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }

.institutionLogo
{
	height: 30px;
	vertical-align: middle;
}

#tabList
{
	list-style-type: none;
	text-align: right;
	float: right;
	margin: 0px;
	border: 0px;
	padding: 0px;
	margin-top: 10px;
	left: 0px;
	width: 100%;
}

#tabList li
{
	cursor: pointer;
	text-align: right;
	font-size: 18pt;
	margin: 0px;
	border: 0px;
	padding: 5px 0px 5px 0px;
	width: 100%;
	font-size: 22pt;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}



.activeTab
{
	background: #6b9de4;
}

.inactiveTab
{
	background: inherit;
}

.inactiveTab:hover
{
	background: #b71313;
}

#homeBody
{
	background-image: url("Media/CMUWhiteboardDark.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: none;
}

#homeTextDiv
{
	position: absolute;
	left: 350px;
	top: 0;
	bottom: 0;
	right: 0;
	padding: 110px;
	overflow: scroll;
}

#homeTextDiv a
{
	color: blue;
}

#publicationsTextDiv
{
	position: absolute;
	left: 350px;
	top: 0;
	bottom: 0;
	right: 0;
	padding: 110px;
	overflow: scroll;

	margin-top: -50px;
	padding: 110px;
}

.publicationHeading
{
	font-size: 30px;
	padding-left: 10px;
}

.publicationsTable
{
	border-spacing: 10px 0;
	padding-left: 10px;
}

.citationImage
{
	width: 100px;
	height: 100px;
	vertical-align: top;
}

.citationImage img
{
	margin-left: -10px;
	height: 100px;
}

.citationText
{
	vertical-align: top;
	color: rgb(73, 78, 82);
}

.citationTitle
{
	color: rgb(0, 0, 0);
}

.citationAbbreviation
{
	vertical-align: top;
	text-align: center;
  font-weight: bold;
}

.citationAbbreviation a
{
	color: #c7950d;
}

.goldStar
{
  color: white;
  font-weight: bold;
  border-radius: 4px;
  background: #eda715;
  padding: 2px;
  white-space: pre;
}

.silverStar
{
  color: white;
  font-weight: bold;
  border-radius: 4px;
  background: black;
  padding: 2px;
  white-space: pre;
}

.spacerRow
{
	height: 15px;
}
